
# Backend
__pycache__
backend/config
backend/data
backend/log

# Frontend
**/node_modules

# misc
.DS_Store
.env
.env.local
.env.dev.local
.env.test.local
.env.prod.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
