# API
requests==2.32.3                        # HTTP request
httpx==0.28.1                           # HTTP toolkit
fastapi==0.115.12					    # API Framework
uvicorn==0.34.1					        # To run FastAPI
pydantic-settings                       # Settings Management
python-multipart==0.0.20			    # Form Data Usage

# Image/Video Manipulation
opencv-python-headless			        # Computer Vision (Without GUI)
pillow==11.2.1                          # Processing Image

# Data Science / Machine Learning
scikit-learn==1.6.1				        # ML algorithm

# Articial Intelligence
tensorflow==2.15.0  		            # Framework for Deep Learning AI Model
onnxruntime==1.21.0                     # High-performance engine for ONNX models
onnx==1.17.0                            # Onnx model format
tf2onnx==1.16.1                         # Tensorflow to Onnx Convertor

# Database
SQLAlchemy==2.0.40                      # Sql Engine (ORM)

# Testing
pytest==8.3.5                           # For Testing

# Misc
python-dotenv==1.1.0                    # Env File Reader